body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 15px 0;
}

main {
    text-align: center;
    padding: 20px;
}

#carrinho {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#itens-carrinho {
    list-style: none;
    padding: 0;
}

.item-carrinho {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #ddd;
    padding: 10px 0;
}

.nome-produto {
    flex-grow: 1;
}

.remover-item {
    color: #e44d26;
    cursor: pointer;
}