body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

header {
    background-color:darkslategray;
    color: white;
    text-align: center;
    padding: 10px 0;
}
header h1 {
    font-size: 2.5em;
    margin-bottom: 10px;
}

header p {
    font-size: 1.2em;
    margin-bottom: 40px;
}

main {
    text-align: center;
    padding: 50px;
}

h1 {
    font-size: 2.5em;
    margin-bottom: 20px;
    color: #333;
}

p {
    font-size: 1.2em;
    color: #666;
}

.produto {
    width: 50%; /* Ajuste a largura conforme necessário */
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-bottom: 20px;
    padding: 15px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.produto h2 {
    color: #333;
    font-size: 1.2em;
    margin-bottom: 10px;
}

.produto img {
    width: 50%;
    height:auto;
    border-radius: 5px;
}

.produto p {
    color: #666;
    margin-bottom: 10px;
}

.produto .preco {
    color: #e44d26;
    font-weight: bold;
}

.ver-melhor {
    display: inline-block;
    padding: 10px 20px;
    background-color: #333;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 10px;
}
